{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-portopage{% endblock %}

{% block content %}


<!-- Portfolio Gallery Grid -->

{% if page.search_term %}
  <div class="notification is-primary is-light">
    Search Results for <strong>{{ page.search_type }}: {{ page.search_term }}</strong>
  </div>
{% endif %}

<div class="row">
    {% for post in posts %}
    {% with post=post.specific %}
    <div class="column">
        <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                {% image post.header_image original as header_image %}
                <img src="{{header_image.url}}" alt="{{header_image.title}}" style="width:100%">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><a href="{% pageurl post %}">{{ post.title }}</a></p>
                </div>
              </div>
          
              <div class="content">
                {{ post.overview }}               
              </div>
            </div>
          </div>


    </div>
    {% endwith %}
    {% endfor %}
</div>

<!-- END MAIN -->
{% endblock %}